.recently-viewed-items {
	position:relative;
	h3{
		margin-bottom:$sc-margin-lv6;
		text-transform: uppercase;
		text-align: center;
		color: $sc-color-primary;

		&:after{
	    	content: '';
		    display: block;
		    position: relative;
		    border: 2px solid $sc-color-primary;
		    text-align: center;
		    width: 10%;
		    margin: $sc-margin-lv3 auto;
	    }
	}
	.bx-controls-direction{
		text-align: right;
		margin-bottom: $sc-margin-lv8;
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
	text-align: center;
    padding: $sc-padding-lv2;
    border: 1px solid $sc-color-theme-border;
    margin: 0 $sc-margin-lv1;
    width: 218px !important;
    background: $sc-neutral-shade-0;

    .item-relations-related-item-thumbnail{
    	img{
    		background: $sc-neutral-shade-0;;
    		padding: $sc-padding-lv3;
    	}
    }
}